.gallery {
  display: grid;
  grid-template-columns: 320px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 768px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1440px;
  }
}

.gallery__wrapper {
  padding-top: 20px;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
  }
}

.gallery__title {
  padding: 0 15px;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 119px;
  }
}

.gallery__title::after {
  left: 15px;
  top: -14px;

  @media (min-width: $tablet-width) {
    top: -15px;
    left: 45px;
  }

  @media (min-width: $desktop-width) {
    top: -17px;
    left: 120px;
  }
}

.gallery__discription p {
  margin: 0;
  padding: 10px 15px 30px;
  font-size: 12px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 420px;
    padding: 13px 0 21px;
    margin-left: 45px;
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }

    width: 592px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0 44px;
    margin-left: 120px;
  }
}

.gallery__discription p:not(:last-child) {
  margin-bottom: 10px;
}

.gallery__buttons {
  @media (min-width: $tablet-width) {
    top: 108px;
    right: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__list {
  width: 320px;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 418px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 463px;
    gap: 5px;
  }
}

.gallery__item:nth-of-type(2n+1) {
  width: 158px;

  @media (min-width: $tablet-width) {
    width: 253px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
  }
}

.gallery__item:nth-of-type(2n) {
  width: 157px;

  @media (min-width: $tablet-width) {
    width: 252px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
  }
}

.gallery__content {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (min-width: $desktop-width) {
    gap: 7px;
  }
}

.gallery__image {
  display: block;
  height: 100%;
  object-fit: cover;
}
