.page {
  height: 100%;
}

.page-body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.page-body::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 602px;
    height: 100%;
    background-image:
      image-set(url("../../img/background1-tablet.webp") 1x type("image/webp"),
      url("../../img/background1-tablet.png") 1x,
      url("../../img/background1-tablet@2x.webp") 2x type("image/webp"),
      url("../../img/background1-tablet@2x.png") 2x);
    background-repeat: no-repeat;
    left: 343px;
    top: 1024px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../../img/background1-desktop.webp") 1x type("image/webp"),
      url("../../img/background1-desktop.png") 1x,
      url("../../img/background1-desktop@2x.webp") 2x type("image/webp"),
      url("../../img/background1-desktop@2x.png") 2x);
    top: 800px;
    left: 837px;
  }
}
